<div class=" text-light form-group pt-5 container">
<label>digite su nombre</label>
<input type="text" name="asdfwf" id="nom" class="mt-2 mb-4 form-control">


<label> digite su apellido</label>
<input type="text" name="asdfwf" id="ape" class="mt-2 mb-4 form-control">



<label>digite la fecha de solicitud de producto</label><br>
<input type="date" name="asdfwf" id="" class="mt-2 mb-4 form-control-lg"><br>

<label>digite su direccion</label>
<input type="text" name="asdfwf" id="" class="mt-2 mb-4 form-control">
<small class="text-muted form-text mt-0">si vive en un edificio o un apartemento especificar</small><br><br>

<label>digite su email</label>
<input type="text" name="asdfwf" id="nom" class="mt-2 mb-4 form-control">












<br>
<button class="btn btn-outline-danger">hola</button>
</div>
